body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/imagebk.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    position: relative; /* Troquei para relative */
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; /* Deixe o height ser automático */
    max-height: 850px; /* Define o limite máximo de altura */
    width: 900px;
    background-color: #ffffff00;
    overflow-y: auto; /* Altere para auto para rolar só quando necessário */
}

p{	
	color: white;
	font-size: 45px;
}

h1 {
    color: rgb(255, 0, 0);
    font-weight: bold;
   	font-size: 50px;
}

h2 {
   color: rgb(255, 0, 0);
   font-size: 40px;
}

.introducao {
	
	width: 20%;
	text-decoration: none;
}

.introducao:hover{
	background-image: url('/images/bk.png');
}

img.sobre {
	max-width:25%;
	max-height:25%;
}

#nomesobre{
	color: rgb(255, 255, 255);
}

#botaovoltarmenu, #botaodialogo {
    position: relative; /* Troque para relative */
    font-size: 30px;
    color: rgb(255, 255, 255); 
    margin-top: 20px; /* Adiciona espaçamento */
}

#botaovoltarmenu {
    margin-right: 10px; /* Adiciona espaço entre os botões */
}

#botaodialogo {
    margin-left: 10px;
}